.footer {
    width: 100%;
    height: 300px;
    background-color: #382752;
    border-radius: 30px;
    color: white;
    font-size: 13px;
    font-weight: 15px;
   
}

.line{
    width: 40%;
}

.ins{
    padding: 10px;
    color: mediumpurple;
}

.law{
    color:  mediumpurple;
}